.container{
	width:1170px;
	margin:0 auto;
	padding:0 15px;
}
.row{
	display:flex;
	margin-left:-15px;
	margin-right:-15px;
}

.row>*{
	padding:0 15px;
	width:100%;
}

.align-item-center{
	align-items:center;
}

.col-lg-1{
	width:8.33%;
	padding:0 15px;
}
.col-lg-2{
	width:16.66%;
	padding:0 15px;
}
.col-lg-3{
	width:25%;
	padding:0 15px;
}
.col-lg-4{
	width:33.33%;
	padding:0 15px;
}
.col-lg-5{
	width:41.66%;
	padding:0 15px;
}
.col-lg-6{
	width:50%;
	padding:0 15px;
}
.col-lg-7{
	width:58.33%;
	padding:0 15px;
}
.col-lg-8{
	width:66.66%;
	padding:0 15px;
}
.col-lg-9{
	width:75%;
	padding:0 15px;
}
.col-lg-10{
	width:83.33%;
	padding:0 15px;
}
.col-lg-11{
	width:91.66%;
	padding:0 15px;
}
.col-lg-12{
	width:100%;
	padding:0 15px;
}
/*========root==========*/
:root{
	--primary-color:#00bcd4;
	--secondary-color:#333333;
	--white:#fff;
}
/*========btn constant======*/
.btn{ display:inline-block;
	text-decoration:none;
	color:white;
	padding-left:30px;
	padding-right:30px;
	text-align:center;
	background-color:#ff5821;
}
/*========Header======*/

.header-info{
	background-color:#39312f;
	
}  
.content-info span{
	display:inline-block;
	color:#fff;
	font-size:18px;
	margin-right:10px;
	padding-top:10px;
	
}
.content-info span > a{
	color:#fff;
	text-decoration:none;
}
.content-info a:hover{
	color:#ff9900;
}
.content-info span i{
	color:#ff9900;
	margin-right:5px;
}
/*============style=============*/
.info-btn{
	background-color:#00bcd4;
	padding-top:15px;
	padding-bottom:15px;
}
.info-btn>a{ color:white;
	text-decoration:none;
	font-family: 'Raleway', sans-serif;
}
.text-left{
	text-align:left !important;
}
.text-center{
	text-align:center !important;
}
.text-right{
	text-align:right !important;
}
.text-justify{
	text-align:justify !important;
}
/*=========style=============*/
.logo >a{
	display:inline-block;
	color:#000;
	font-size:35px;
	text-decoration:none;
	font-weight:600;
	font-family: 'Raleway', sans-serif;
	background-attachment:fixed;
}
.navication-info{
	padding:10px 0;
	
}
.menubar{
	display:flex;
    justify-content:flex-end;
	font-family: 'Raleway', sans-serif;
	background-attachment:fixed;
}
.menubar .nav-link a{
	display:block;
	text-decoration:none;
	color:#635551;
	font-size:14px;
	padding:8px 15px;

}
.menubar .nav-link a:hover{
	color:#ff9900;
}
.menubar .nav-link a.active{
	color:#ff9900;
}
/*=========banner=======*/
.banner{                     
	background-image:linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),url("../image/hero-bg.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	padding:220px 0;
	background-attachment:fixed;
}
.banner-info{
	width:60%;	
}
.banner-info h1{
	font-size:55px;
	font-family: 'Raleway', sans-serif;
	color:#fff;
	margin-bottom:15px;
}
.banner-info p{
	font-size:20px;
	color:#eee;
	margin-bottom:40px;
	font-family: 'Raleway', sans-serif;
}
.banner-btn{
	position:relative;
	display:inline-block;
	padding:10px 0; 
}
.banner-btn a.btn{
	border-radius:25px;
	background-color:#333333;
	padding-left:50px;
	line-height:35px;
}
.banner-btn a.btn:hover{  
    
	background-color:#00bcd4;
}
.banner-btn >i{
	position:absolute;
	left:0;
	top:3px;
	background-color:var(--primary-color);
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	color:var(--white);
	border-radius:50%;
}
.choose-sec{
	padding:20px 0;
	position:relative;
	top:-100px;
}
.choose-info{ 
	background-color:red;
    height:350px;
}
.choose-items{
	background-color:red;
	height:250px;
}
.about-section{
	background-color:black;
	height:500px;
}
.image-info{
	background-color:#ff9900;
	width:500px;
	height:400px;
	margin:30px;
	
}
.about-info{
	background-color:#ff9900;
	width:600px;
	height:400px;
	margin:30px;
}
.logo-section{
	background-color:white;
	padding:100px 0;
	margin-bottom:50px;
}
.logo-content{
	background-color:#ff9900;
	height:50px;
}

/*--------service Style ------*/
.service-sec{ background-color:grey;
padding:80px 0;
}
.service-title{ background-color:#ff9900;
height:50px;
margin-bottom:30px;
}
.service-content{ background-color:#ff9900;
height:200px;
margin:50px 0;
}
/*--------boxes section------*/
.boxes-section{ background-color:black;
padding:80px 0;
}
.boxes-content{ background-color:#ff9900;
height:400px;
margin:80px 0;
}
/*--------image style------*/
.image-section{ background-color:grey;
padding:50px 0;
}
.image-style{ background-color:#ff9900;
height:350px;
margin:50px 0;
}
/*--------Portfolio------*/
.portfolio-section{ background-color:black;
padding:80px 0;
}
.portfolio-title{ background-color:#ff9900;
height:50px;
margin-bottom:30px;
}
.portfolio-content{ background-color:#ff9900;
height:200px;
margin:50px 0;
}
/*---------team section--------*/
.team-section{
	background-color:gray;
	padding:80px 0;
}
.team-title{
	background-color:#ff9900;
	height:50px;
	margin-bottom:30px;
}
.team-content{
	background-color:#ff9900;
	height:200px;
	margin:50px 0;
}
/*----------pricing---------*/
.pricing-section{
	background-color:black;
	padding:80px 0;
}
.pricing-title{
	background-color:#ff9900;
	height:50px;
	margin-bottom:30px;
}
.pricing-content{
	background-color:#ff9900;
	height:300px;
	margin:50px 0;
}/*----------faq section------*/
.faq-section{
	background-color:gray;
	padding:80px 0;
}
.faq-title{
	background-color:#ff9900;
	height:50px;
}
.column{
	flex-direction:column;
	padding:0 60px;
}
.box{
	background-color:#ff9900;
	height:40px;
	margin-top:20px;
}
.contact-section{
	background-color:black;
	padding:80px 0;
}
.contact-title{
	background-color:#ff9900;
	height:50px;
	margin-bottom:30px;
	
}
.contact-content{
	background-color:#ff9900;
	height:400px;
	margin-bottom:30px;
}
.link-section{
	background-color:gray;
	padding:80px 0;
}

.link-content{
	background-color:#ff9900;
	height:400px;
	margin:50px 0;
}
.footer-section{
	background-color:black;
	height:80px;
}
.footer{
	background-color:#ff9900;
	margin:15px; 
    height:50px;	
}
